{
  "coindcx": {
    "key": "YOUR_COINDCX_API_KEY",
    "secret": "YOUR_COINDCX_API_SECRET"
  },
  "bitget": {
    "key": "YOUR_BITGET_API_KEY",
    "secret": "YOUR_BITGET_API_SECRET",
    "passphrase": "YOUR_BITGET_API_PASSPHRASE"
  },
  "binance": {
    "key": "YOUR_BINANCE_API_KEY",
    "secret": "YOUR_BINANCE_API_SECRET"
  },
  "telegram": {
    "token": "YOUR_TELEGRAM_BOT_TOKEN",
    "chat_id": "YOUR_TELEGRAM_CHAT_ID"
  }
}
